@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />

<div class="panel panel-primary">
    <div class="panel-heading">Kiosk System</div>
    <div class="panel-body">Panel Content</div>
</div>



<div class="form-group">

    <div class="row">


        <div class="form-group">
            <div class="col-sm-3 btn-group-vertical">
                <input id="bakedBeans" class="btn btn-primary" type="button" style="margin:2px" value="Baked Beans" />
                <input id="cornflakes " class="btn btn-primary btn-block" style="margin:2px" type="button" value="Cornflakes " />
                <input id="sugar" class="btn btn-primary btn-block" type="button" style="margin:2px" value="Sugar" />
                <input id="teaBags" class="btn btn-primary" type="button" style="margin:2px" value="Tea Bags" />
                <input id="instantCoffee" class="btn btn-primary" type="button" style="margin:2px" value="Instant Coffee" />
                <input id="bread" class="btn btn-primary" type="button" style="margin:2px" value="Bread" />
                <input id="sausages" class="btn btn-primary" type="button" style="margin:2px" value="Sausages" />
                <input id="eggs" class="btn btn-primary" type="button" style="margin:2px" value="Eggs" />
                <input id="milk" class="btn btn-primary" type="button" style="margin:2px" value="Milk" />
                <input id="potatoes" class="btn btn-primary" type="button" style="margin:2px" value="Potatoes" />
            </div>
        </div>
        <div class="col-sm-6">
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        @*<th>#</th>*@
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price (£)</th>
                    </tr>
                </thead>
                <tbody>

                    </tbody>
            </table>
        </div>

    </div>
</div>

